.button-add {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid rgb(206, 164, 54);
    border-radius: 10px;
    font-family:  "jost", sans-serif;
    color:rgb(206, 164, 54);
    padding: 10px;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: display;
    }

    .right-section {
        margin-top: 10px;
    }
}