*{
    margin: 0px;
}

body {
font-family: "Montserrat", sans-serif;
background-image: url(./assets/images/Background.jpg);
}

.fotopelis{
    width: 100%;
}

.title{
 font-size: 400%;
 display: flex;
 justify-content: center;
}

.cartel{
 position: relative;
 top: -233px;
 right: -433px;
 width: 34%;
 height: 157px;
}
