*{
    margin: 0px;
}

body {
font-family: "Montserrat", sans-serif;
background-image: url(./assets/images/Background.jpg);
}

.fotopelis{
    width: 100%;
}

.title{
 font-size: 400%;
 display: flex;
 justify-content: center;
 margin-top: 5%;
}

.right-section {
    width: 10%;
}

.form{
    display: flex;
    background-color: darkgoldenrod;
    justify-content: center;
    padding: 10%;
    width: 40%;
    position: relative;
    right: -21%;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
    
}

